# Default ignored files
/../../0305_Expression /.idea/shelf/
/../../0305_Expression /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../0305_Expression /.idea/httpRequests/
# Datasource local storage ignored files
/../../0305_Expression /.idea/dataSources/
/../../0305_Expression /.idea/dataSources.local.xml
