# Default ignored files
/../../0303_LineEdit /.idea/shelf/
/../../0303_LineEdit /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../0303_LineEdit /.idea/httpRequests/
# Datasource local storage ignored files
/../../0303_LineEdit /.idea/dataSources/
/../../0303_LineEdit /.idea/dataSources.local.xml
