# Default ignored files
/../../0308_SqQueue /.idea/shelf/
/../../0308_SqQueue /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../0308_SqQueue /.idea/httpRequests/
# Datasource local storage ignored files
/../../0308_SqQueue /.idea/dataSources/
/../../0308_SqQueue /.idea/dataSources.local.xml
